{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'posts:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span style="color:red">Ya</span>tube
        </a>
      <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        {% with request.resolver_match.view_name as view_name %}   
        {# Добавлено в спринте #}
  
        {% comment %}
        Меню - список пунктов со стандартными классами Bootsrap.
        Класс nav-pills нужен для выделения активных пунктов 
        {% endcomment %}
        <div class="collapse navbar-collapse" id="navbarContent"> 
          <ul class=" nav nav-pills navbar-nav navbar-right ms-auto md-3 md-lg-0">
            <li class="nav-item">           
              <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" 
                href="{% url 'about:author' %}" style="color:blue">
                Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" 
              href="{% url 'about:tech' %}" style="color:blue">
              Технологии</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}" 
              href="{% url 'posts:post_create' %}" style="color:blue">
                Новая запись
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light {% if view_name  == 'users:password_change' %}active{% endif %}"
              href="{% url 'users:password_change' %}">
              Изменить пароль</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light {% if view_name  == 'users:logout' %}
              active{% endif %}" href="{% url 'users:logout'%}">Выйти</a>
            </li>
            <li>
              Пользователь: {{ user.username }}
            </li>
            {% else %}
            <li class="nav-item"> 
              <a class="nav-link link-light {% if view_name  == 'users:login' %}
              active{% endif %}" href="{% url 'users:login'%}">Войти</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light {% if view_name  == 'users:signup' %}
              active{% endif %}" href={% url 'users:signup'%}>Регистрация</a>
            </li>
            {% endif %}
          </ul>
          {# Конец добавленого в спринте #}
      </div>
    </div>
      {% endwith %} 
    </nav>      
  </header> 
  