{% extends 'base.html' %}
<title>
  {% block title %} 
  Записи сообщества {{group}}
  {% endblock %}
</title>
    <main>
      {% block content %} 
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <h1>{{group}}</h1>
        <p>
          {{group.description}}
        </p>
        {% for post in page_obj %}
        <article>
          {%include 'includes/article.html'%}
          </article>
          {% if not forloop.last %}<hr>{% endif %}
  {% endfor %} 
          <!-- под последним постом нет линии -->
        </div>
        {% include 'includes/paginator.html' %}
        {% endblock %}  
      </main>